.App {
  width: 100%;
  height: 100%;
  font-family: "Tahoma", sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 100%;
  max-height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1% 0 1% 0%;
}

.page-title {
  width: 100%;
  text-align: center;
}

.header {
  max-width: 100%;
  padding: 1%;
  margin-bottom: 2px;
  background: linear-gradient(to top left, #370073 10%, #222 90%);
  color: #ffffffbf;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  max-width: 220px;
  max-height: 220px;
}

.landscapeChoice1200 {
  max-width: 1200px;
}

.landscapeChoice800 {
  max-width: 1200px;
}

.landscapeChoice400 {
  max-width: 1200px;
}

.landscapeChoice80 {
  max-width: 1200px;
}

.button {
  position: relative;
  top: 0;
  max-width: max-content;
  max-height: 30px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top left, #370073, purple);
  border: none;
}

.button:hover {
  box-shadow: 0 0 25px 0 rgb(88, 22, 159);
  background: linear-gradient(purple, #5b11aa);
  border: none;
}

.choice-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}







/* #root {
  color: #142d52;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: rel;
  top: 0%;
  max-width: 100%;
  margin-bottom: 2px;
  border: 3px solid red;
}

.light {
  background-color: white !important;
  color: #282c34 !important;
}

.dark {
  background-color: #282c34 !important;
  color: white !important;
}

.theme button, input {
  background-color: black;
  color: yellowgreen;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid blue;
  margin: 2px;
}


.container-title {
  width: 100%;
  display: flex;
  position: relative;
  padding: 100px;

  min-height: 500px;
}

.children {
  display: flex;
  position: relative;
} */