#root,
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family:
		url(./common/font/NexaBold.ttf),
		url(./common/font/NexaLight.ttf),
		'Nexa Light', 'Nexa Bold', 'Roboto', 'sans-serif';
	color: whitesmoke;
	background: #062634 url(./common/img/backgroundImg.png) no-repeat fixed top;
	text-align: center;
}

.home {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: #062634;
}

.loading {
	background-color: rgb(255, 70, 18);
	width: 50%;
	top: 10%;
	margin: auto;
}

.title {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.author {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10%;
	box-sizing: border-box;
}

.sign-menu {
	position: fixed;
	bottom: 5%;
}

.nav-wrapper {
	position: fixed;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;

	z-index: 10;
}

a,
a::visited,
a:selected {
	text-decoration: none;
	background-color: aqua;
	color: black;
}

a::hover {
	color: aquamarine;
}

h1,
h2,
h3 {
	width: 100% !important;
	margin: 0;
	text-align: center;
}

.container {
	font-family: "Nexa Light";
	position: relative;
	width: 80%;
	margin: 0 auto;
	height: max-content;
	padding: 70px 0 0 0;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.sub-container {
	display: flex;
	justify-self: center;
	flex-wrap: wrap;
	width: 50%;
	height: max-content;
	margin: 1% auto;
	padding: 0;
	box-sizing: border-box;
	justify-content: center;
}

.help-button {
	min-width: max-content;
	width: 80%;
	min-height: 25px;
	height: 2rem;
	margin: auto;
	font-size: large;
	border: 0.1rem solid whitesmoke;
	border-radius: 35px;
	background-color: #0626342f;
}

.help-button a {
	color: whitesmoke;
	text-decoration: none;
}

.user-file input {
	min-width: 150px;
	width: 100%;
	min-height: 125px;
	height: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #7a04c5, #bb27bc);
	border-radius: 25px;
	box-shadow: 2px 2px 6px #062634;
	background-color: black;
}

.row {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.col-33 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
	margin: auto;
}

.choices {
	width: 80%;
	height: max-content;
	margin: 1%;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.choices img {
	width: 100%;
	box-shadow: 2px 2px 6px #062634;
}