#menu__toggle {
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    background-color: whitesmoke;
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 26px;
    right: 26px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 11;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: fixed;
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: linear-gradient(to bottom, #7a04c5, #bb27bc);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.713);
    transition-duration: .3s;
    z-index: 10;

    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    overflow: hidden;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: whitesmoke;
    font-family: 'Nexa Light', sans-serif !important;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #aa6ad284;
}

.li-separate {
    margin: 2% 10%;
    border-bottom: 1px solid whitesmoke;
}

ul.menu__box>li:hover {
    border: 10px 0 2px 0 solid #1E5;
    box-shadow: 0 0 100px 5px #ffffff3d;
    transform: scale(1.05);
}